button {
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow:
		2px 2px 4px rgba(255,255,255,0.1) inset,
		-2px -2px 4px rgba(0,0,0,0.1) inset;
	margin: 10px;
	padding: 10px;
	vertical-align: middle;
}
button:active {
	box-shadow: none;
	padding: 11px 9px 9px 11px;
}

.IndexPage {
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
.IndexPage.is-warned {
	background-color: #f00;
	color: #fff;
}
.IndexPage .TimeRest {
	font-family: Impact, sans-serif;
}

.TimeRest-figure {
	display: inline-block;
	text-align: center;
}
