.IndexPage {
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
.IndexPage.is-warned {
	background-color: #f00;
	color: #fff;
}
.IndexPage .TimeRest {
	font-family: Impact, sans-serif;
}
.IndexPage-controller {
	display: flex;
	justify-content: spread;
}
.IndexPage-controller-button {
	background-color: #f9f9f9;
	border: 4px solid #eee;
	flex: 1;
	margin: 4px;
	min-height: 100px;
}
.IndexPage-controller-button:active {
	background-color: #ccc;
}
.IndexPage-controller-button:disabled {
	background-color: #ccc;
}

.TimeRest-figure {
	display: inline-block;
	text-align: center;
}
